<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
   
    <ion-button [routerLink]="['/valorviaje']">Destinos</ion-button>
    <ion-button [routerLink]="['/camera']">Camara</ion-button>
    <ion-button [routerLink]="['/app-lista']">Lista</ion-button>

    
    <ion-item *ngFor="let Lugar of Lugares">
      <ion-icon name="airplane-outline" slot="end"></ion-icon>
      <ion-icon name="camera-outline" slot="end"></ion-icon>
      <ion-icon name="trash-outline" slot="end" (click)="SacarLugar(Lugar)"></ion-icon>

      <ion-thumbnail slot="start">
        <img [src]="Lugar.image" *ngIf="Lugar.image" />
      </ion-thumbnail>
      <ion-label>
    

        {{ Lugar.name }}
      </ion-label>
    </ion-item>
   
  </ion-list>
</ion-content>